@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

  /*border-color: #ffd800;*/

/*---new style-----*/

* {margin: 0; padding: 0;}

html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  background:
      linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
  font-family: "Muller Regular";
}
/*form styles*/
#msform {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  padding-top: 20px;
  border-radius: 3px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  margin-top: -3px;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #ffd800;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 300px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ffd800;
  outline: none;
}
/*headings*/
 {
  margin: 10px auto;
  font-family: "Muller Bold";
}

.fs-title,
.form-title{
  font-size: 20px;
  color: #000000;
  margin: 20px auto;
  font-family: "Muller Bold";
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/

#progressbar {
  padding: 10px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  color: #000000;
  font-size: 11px;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 12px;
  color: #333;
  background: #ffffff;
  border: 2px solid #868e96;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/

#progressbar li:after {
  content: '';
  width: 74%;
  height: 2px;
  background: #868e96;
  position: absolute;
  left: -37%;
  top: 15px; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before{
  border-color: #ffd800;
  color: #000000;
}

#progressbar li.active:after {
  background-color: #ffd800;
}
