@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Light";
  src: url("../fonts/MullerLight.eot");
  src: url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller UltraLight";
  src: url("../fonts/MullerUltraLight.eot");
  src: url("../fonts/MullerUltraLight.woff") format("woff"),
    url("../fonts/MullerUltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller ExtraBold";
  src: url("../fonts/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold.woff") format("woff"),
    url("../fonts/MullerExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muller Regular";
  background-color: #1d2124;
}

/* Form Style */
.form-horizontal {
  background: #fff;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 45%;
}
.form-horizontal .heading {
  display: block;
  font-size: 25px;
  padding: 20px 0;
  font-family: "Muller ExtraBold";
}

.container {
  width: 100%;
}

.container-items {
  width: 80%;
  margin: auto;
  display: flex;
  flex-space: none;
}

.item {
  width: 10%;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: 18px;
}

hr {
  height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item:nth-child(3n + 1) {
  width: 10%;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto 0 auto;
}

.filled {
  border-color: #ffd800;
}

.item-titles {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.rate-number {
  font-family: "Muller ExtraBold";
  font-size: 1em;
  margin-top: 10px;
}

.fa-star {
  font-size: 4em;
  margin: 10px;
}

.yellow {
  color: #ffd800;
}

.gray {
  color: rgba(0, 0, 0, 0.1);
}

.form-horizontal .form-group {
  padding: 0 40px;
  margin: 0 0 25px 0;
  position: relative;
}

.btn-send {
  background-color: #ffd800;
  border-color: #ffd800;
  border-radius: 300px;
  font-size: 18px;
  height: 50px;
  line-height: 55px;
  padding: 0 3em;
  font-family: "Muller Bold";
  font-weight: inherit;
  color: #000;
}

.btn-send:hover {
  background-color: #ffea00;
  color: #000;
}

.close {
  position: absolute;
  right: 35px;
  top: 38%;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
