#mainNav {
  padding: 0;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #ffffff;
  font-family: "Muller Regular";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
}

.container-navbar{
  min-height: 120px;
  display: flex!important;
}

.container-navbar,
.contactsNavbar {
  display: flex;
  justify-content: center;
}

.contactsItems {
  display: flex;
  font-size: 0.85rem;
  width: 60%;
  justify-content: flex-end;
  margin-top: 10px;
}

.dropdown-menu .fa {
  color: rgb(95, 112, 135);
  margin-right: 10px;
}

.dropdown-menu.show {
  width: 12em;
}

.contactsItem {
  margin: 0 5px;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
}

#mainNav.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link{
  padding: 0.5rem 1rem;
}

#mainNav.navbar-light .navbar-toggler {
  background-color: #ffffff;
  border: none;
  outline: none;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  position: relative;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
  position: absolute;
  content: "";
  left: 46%;
  bottom: 0;
  width: 57px;
  height: 6px;
  background-color: #ffd800;
}

#nav-icon1 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000000;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#navbarResponsive .navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.navbar-logo {
  justify-content: flex-end;
  display: flex;
}

.fa-search {
  font-size: 1.2em;
}

#modal_form {
  border-radius: 5px;
  border: none;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -200px;
  margin-left: -260px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}

#overlay {
  z-index:3;
  position:fixed;
  background-color:#000;
  opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}

#login-btn {
  font-weight: 400;
  padding: 0.5em 2em;
  border-radius: 300px;
  background: none;
  border: 2px solid black;
  outline: none;
}

#login-form {
  border-radius: 5px;
  border: none;
  background: #fff;
  position: fixed;
  top: 35%!important;
  left: 50%;
  margin-top: -200px;
  margin-left: -260px;
  display: none;
  opacity: 0;
  padding: 20px 0px 0 0;
  z-index: 1000;
  max-height: 65%;
  overflow-y: auto;

}
#login-form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}

#overlay-login {
  z-index: 999;
  position:fixed;
  background-color:#000;
  opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}

.hide-content {
  display: none!important;
}

.butt {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid transparent;
  font-size: 1.1rem;
  border-radius: 300px;
  text-transform: uppercase;
  outline: none!important;
  cursor: pointer;
}

.butt:active {
  border: 2px solid #c9a700;
}

.create-meeting-butt {
  background-color: #ffd800;
  border:  2px solid #ffd800;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0 2em;
  font-family: "Muller Bold";
  font-weight: inherit;
  color: #000;
  outline: none;
  cursor: pointer;
}
.create-meeting-butt:hover{
  text-decoration: none;
  color: #000;
}

.form-title{
  color: #000000;
}


@media (min-width: 1200px) {
  .container {
    width: 1000px;
    max-width: 1000px;
  }

  .contactsNavbar {
    width: 370px;
    height: 100px;
  }
}

@media (min-width: 768px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    right: -10px;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
    font-size: 15px;
  }

  #mainNav.navbar-light .navbar-nav .nav-link,
  #mainNav.navbar-light .navbar-nav .nav-link:focus,
  #mainNav.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
  }

  #mainNav #navbarResponsive .navbar-collapse {
    justify-content: flex-end;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link:not(.active):hover {
    text-decoration: underline;
  }
}