@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

  /*border-color: #ffd800;*/

/*---new style-----*/

html {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Muller Regular";
  background: transparent;
}
/*form styles*/
.sign_up_form{
  width: 500px;
  margin: 10px 0 0 0;
  position: relative;
  background-color: #ffffff;
  padding: 10px 70px 20px;
  border-radius: 3px;
}

/*buttons*/
.sign_up_form .action-btn{
  background: #ffd800;
  font-size: 1em;
  line-height: 1em;
  font-family: "Muller Bold" ;
  color: #000000;
  border: 0 none;
  border-radius: 300px;
  cursor: pointer;
  padding: 0.8em 4em;
  margin: 10px 0;
  text-transform: uppercase;
}

.sign_up_form .action-btn:hover,
.sign_up_form .action-btn:focus{
  box-shadow: 0 0 0 1px white, 0 0 0 3px #ffd800;
  outline: none;
}

.sign_up_form .action-btn:disabled{
  background: #C0C0C0;
}

.sign_up_form  .reset-btn {
  padding: 0.8em 2em;
  margin-top: 50px;
}

.sign_up_form  .login-btn {
  padding: 0.8em 5em;
  margin-top: 50px;
}

.login-form-item:before {
  content:attr(type);
  display:block;
  margin:20px 0 0;
  font-size:14px;
  color:#C0C0C0;
}

.form-title {
  text-align: center;
  font-size: 2em;
  font-family: "Muller Bold";
  padding-bottom: 10px;
  margin: 0;
}

.title-forgot {
  padding-bottom: 5px;
  margin: 0 50px;
}

.form-subtitle {
  color: #C0C0C0;
  font-size: .8em;
  margin: 0 50px;
}

.form-subtitle:before {
  margin: 0;
}

.form-item,
.login-form-items{
  padding: 0;
}

.input_field {
  width:100%;
  padding: 5px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  transition:all .3s;
  border-bottom:1px solid #C0C0C0;
}

.input_field:focus {
  border-bottom:1px solid #ffd800;
}

.pass{
  margin: 0;
  font-size: 10px;
}

.not_match {
  color: red;
}

.match {
  color: green;
}

input[type="checkbox"] {
  display: none;
}

.accept_terms + label:before {
  width: 20px;
  height: 20px;
  cursor: pointer;
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid grey;
  font-size: 20px;
  line-height: 22px;
  margin: -5px 15px 0 0;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

.accept_terms:checked + label:before {
  color: #ffd539;
}

.accept_label {
  padding: 0 15px;
  margin: 0;
  font-family: "Muller Bold"
}

.terms-link {
  text-decoration: underline;
  color: black;
  line-height: 40px;
  font-family: "Muller Bold"
}

.share {
  margin: 0 auto;
}

.fa-facebook,
.fa-linkedin{
  line-height: 40px;
  color: white;
}

.share-btn {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 0 0 10px;
  font-size: 1.1em;
  border-radius: 50%;
}

.share-facebook {
  background: #3b5998;
}

.share-in {
  background: #0077b5;
}

/*styles for forgot pass*/

.back-sign_in {
  position: absolute;
  left: 30%;
  bottom: -50px;
  color:white;
  text-transform: uppercase;
  line-height: 1.5em;
}

.fa-long-arrow-left {
  margin-right: 10px;
  font-size: 1em;
  color: #ffd539;
}





