@media (min-width: 431px) and (max-width: 767px) {
  .navbar {
    padding: 5px;
  }

  #comment hr {
    margin-top: -40px;
    margin-bottom: 50px;
  }

  .navbar-logo img {
    width: 40%;
    height: auto;
  }

  .navbar-brand img:first-child {
    width: 50px;
    height: auto;
  }
  .navbar-brand img:last-child {
    width: 80px;
    height: auto;
  }

  .navbar .row {
    justify-content: space-between;
  }

  .navbar-collapse {
    margin: 0 auto;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    left: 40%;
  }

  #task {
    padding-bottom: 50px;
  }

  .event-category{
    padding: 0.8em 1.5em;
  }

  #place .owl-item-inner {
    padding: 20px 0 0 0;
  }

  #people .owl-item-inner {
    padding: 50px 0 75px 120px;
  }

  .footer-logo img {
    margin: 0 auto;
  }
  .footer-logo img:first-child {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  #contact .btn {
    margin: 30px 0 0 0;
  }
  .footer-email-input-wrapper input {
    margin: 20px 0 1rem 0;
  }
  #contact input {
    width: 280px;
  }
}

@media (min-width: 768px) {
  #comment .owl-item-inner {
    width: 70%;
    margin: auto;
  }

  section {
    padding: 40px 0 20px;
  }
  #task .container {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 83px;
    z-index: 999;
  }

  #task {
    min-height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: 35px;
  }

  .btn-primary {
    width: 140px;
    max-width: 90%;
    height: 50px;
    line-height: 55px;
    color: #000;
    padding: 0;
  }

  .people-wrapper {
    height: 260px;
    width: 67%;
  }

  #guests {
    padding-bottom: 120px;
  }

  #guests .guest button {
    width: 115px;
    height: 115px;
  }

  .comment-wrapper {
    height: 260px;
  }

  #place {
    padding-bottom: 85px;
  }

  #place .owl-carousel .owl-item img {
    margin: 0 auto 0 auto;
    width: auto;
  }

  .place-description-section {
    padding-left: 60px;
    margin: auto;
  }

  #place .place-info-wrapper {
    width: 710px;
    max-width: 710px;
    margin: 0 auto;
  }

  .footer-quick-links-wrapper,
  .footer-email-input-wrapper {
    padding-left: 55px;
  }

  .footer-email-input-wrapper input {
    margin-top: 0;
  }

  .rights-section,
  #contact {
    z-index: 1030;
    position: relative;
  }

  #task .event-img {
    height: 350px;
  }

  #task .event-img img{
    margin-top: 50px;
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 992px) {
  .container-navbar,
  .contactsNavbar {
    justify-content: space-around;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    left: 16px;
  }

  #comment .progress {
    width: 80%;
  }

  .footer-quick-links-wrapper {
    padding-left: 70px;
  }

  .footer-email-input-wrapper {
    padding-left: 15px;
  }

  .place-description-section {
    padding-left: 70px;
  }

  #place .place-info-wrapper {
    width: 1000px;
    max-width: 1000px;
  }

  #people .owl-carousel .owl-dots {
    margin-top: 50px;
    text-align: center;
  }
  #people .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
  }
  #people .owl-carousel .owl-dots .owl-dot span {
    background: #dae5ea;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 10px;
    margin: 0 15px;
    width: 10px;
  }
  #people .owl-carousel .owl-dots .owl-dot.active:hover,
  #people .owl-carousel .owl-dots .owl-dot.active:focus {
    outline: none;
  }
  #people .owl-carousel .owl-dots .owl-dot.active span {
    background: #ffd800;
  }

  .people-wrapper {
    width: 86%;
  }

  #people .progress {
    height: 19px;
  }

  #comment .owl-item-inner {
    width: 100%;
    margin: auto;
  }

  #task .event-img {
    height: 400px;
  }

  #task .event-img img{
    margin-top: 100px;
    width: 320px;
    height: 320px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
    max-width: 1000px;
  }
  .contactsNavbar {
    width: 370px;
    height: 100px;
  }

  #contact {
    padding: 10px 0 20px 0;
  }
  .fa-star {
    margin: 0 2px;
    font-size: 18px;
  }
  .event-desc .progress {
    height: 18px;
  }

  #task .event-img {
    height: 450px;
  }

  #task .event-img img{
    margin-top: 100px;
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-device-width: 1200px) {
  #task {
    background-attachment: scroll, scroll;
  }
  #guests,
  #comment,
  #place,
  #people {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 430px) {
  .navbar {
    padding: 0;
  }

  .progress {
    margin: 0 auto;
  }

  section {
    padding: 20px 0;
  }

  .people-wrapper {
    height: 250px;
  }

  #task .container {
    padding-top: 50px;
  }

  .event-join.btn-join {
    padding: 0 2em;
  }

  #task .event-img {
    height: 400px;
  }

  #task .event-img img{
    margin-top: 100px;
    width: 280px;
    height: 280px;
  }

  .event-join .btn-join {
    padding: 0 2em;
  }

  #comment .star {
    margin-top: 10px;
  }

  #comment hr {
    margin-top: -40px;
    margin-bottom: 50px;
  }

  .navbar-logo img {
    width: 40%;
    height: auto;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after {
    left: 42%;
  }

  .navbar-brand img:first-child {
    width: 50px;
    height: auto;
  }
  .navbar-brand img:last-child {
    width: 80px;
    height: auto;
  }

  #people .owl-carousel .owl-item img.rounded-circle{
    top: 0;
    left: 32%;
    width: 100px;
  }

  #people .owl-item-inner{
    padding: 100px 0px 10px 0px;
    text-align: center;
  }
}

@media only screen and (max-width: 321px) {

  #people .owl-carousel .owl-item img.rounded-circle{
    width: 80px;
    height: auto;
  }

  #people .owl-item-inner{
    padding: 100px 0 20px 0;
  }

  #people .owl-item{
    padding: 0 16px;
  }

  #people .owl-item-inner{
    min-height: 150px;
  }

  .speaker-name-link,
  #people .owl-item-inner p,
  #people .owl-item-inner .fa-star{
    font-size: 0.8em;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:after{
    left: 40%;
  }
}