.table_content {
  margin-top: 30px;
  padding-left: 40px;
}

.table_content h1 {
  padding-left:15px;
}

legend {
  font-size: 2em;
}

.table-item-subtitle,
.table-item-title{
  font-family: "Muller Bold";
  padding: 20px 0 10px;
  font-size: 2em;
}

.table-item-title {
  font-size: 3em;
}

.meeting-desc {
  outline: none;
  width: 100%;
  padding: 10px;
}

.meeting-desc:focus {
  border: 1px solid #ffd800;
}

.reviewStars_new_table{
  width: 60%;
  text-align: left;
}


.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label p {
  margin-top: 1rem;
}

.input-switch + label {
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 40px;
    width: 110px;
    border-radius: 80px;
    background-color: #dadada;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
    -webkit-transition: background-color 0.5s;
    cursor: pointer;
}

.input-switch {
    display: none;
}

.input-switch + label span.grip {
    position: absolute;
    top: 2px;
    left: 3px;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50px;
    -webkit-transition: left 0.5s;
}

.input-switch + label span.switch-label {
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 45px;
    width: 56px;
    font-size: 21px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: opacity 0.5s;
}

.input-switch + label span.switch-label.on {
    left: 2px;
    opacity: 0;
    font-size: 21px;
}

.input-switch:checked + label {
    background-color: #ffd539;
    color: #ffffff;
}

.disable-radio {
    color: grey;
    cursor: default!important;
}

.label-speaker{
  margin: auto 0;
    cursor: pointer;
}

.cost-speaker-open {
  display: flex;
}

.choose_speaker {
  margin-left: 15px;
}

.input-switch:checked + label span.grip {
    left: 71px;
}

.input-switch:checked + label span.switch-label {
    opacity: 0;
}

.input-switch:checked + label span.switch-label.on {
    opacity: 1;
}

.menu_content{
    border-right: 1px solid #dadada;
}

.ui-timepicker-am,
.ui-timepicker-pm{
    list-style-type: none;
    width: 100%;
}

.ui-timepicker-list {
    background-color: white;
    padding: 0 45px;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    cursor: pointer;
}

.speakers {
  width: auto;
}

.radio-speaker {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.radio-content {
    margin: 10px 0px;
}


.speakers {
    display: none;
}

.speakers + label:before {
    width: 20px;
    height: 20px;
    cursor: pointer;
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid grey;
    font-size: 20px;
    line-height: 22px;
    margin: auto 10px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

.speakers:checked + label:before {
    color: #ffd539;
}

.bike-open {
  display: none;
  width: 70%;
  margin: 0 10px;
}

.speaker_setting {
  margin: 50px 0;
}

.cost-from_to{
  margin: auto 20px auto 0;
  text-align: center;
}

p.cost-from_to {
  font-size: 1.3em;
}

.expertise-speaker-open,
.expertise-guest-open,
.interest-guest-open{
  margin: 30px 0;
}

.bike-open .speaker_setting .row,
.label-speaker_checked{
  margin: 10px 0 10px 15px;
}

.choose_deliver {
  margin: 30px 0;
}

.expertise_category,
.expertise_category:hover,
.expertise_category:visited{
  color: #000;
  border-color: #000;
  margin: 20px;
  line-height: 100%;
}

.boat-open{
    display: none;
}

.city-open{
  display: none;
}

.radio-toolbar-5 input,
.radio-toolbar-3 input,
.radio-toolbar-2 input,
.radio-toolbar-1 input,
.check-toolbar-1 input{
  display: none;
}

.radio-toolbar-5 label,
.radio-toolbar-3 label,
.radio-toolbar-2 label,
.radio-toolbar-1 label,
.check-toolbar-1 label{
  display: inline-block;
  border: 1px solid #dadada;
  padding: 0.5em 2.5em;
  border-radius: 300px;
  background-color: white;
  color: #dadada;
  font-size: 0.8em;
  margin-right: 20px;
}

.radio-toolbar-2 label {
  padding: 0.5em 1.5em;
}

.radio-toolbar-5 input[type="radio"]:checked + label,
.radio-toolbar-3 input[type="radio"]:checked + label,
.radio-toolbar-2 input[type="radio"]:checked + label,
.radio-toolbar-1 input[type="radio"]:checked + label,
.check-toolbar-1 input[type="checkbox"]:checked + label{
  background-color: #ffd539;
  border: 1px solid #ffd539;
  color: #000000;
}

.list-speaker .butt {
  margin: 25px auto;
}

.guest-number {
    display: flex!important;
}

.guest-number-rate{
  margin-right: 20px;
}

.guest-title {
  margin: auto 0;
}

.size-more {
    display: flex!important;
    align-items: center;
}

.more {
    height: 35px!important;
}
.guest-num {
    margin-left: 20px;
}

.guest-num:before {
    margin: 0!important;
}

.speaker_setting .slider.slider-horizontal {
  width: 300px;
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  background-color: #fff;
}

.slider-selection{
  background-image: linear-gradient(to bottom,#ffd539 0,#ffd539 100%);
}

.slider-handle {
  width: 15px;
  height: 15px;
  background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
  border: 1px solid rgba(0,0,0,0.1);
}

.slider.slider-horizontal .slider-track {
  height: 5px;
}

#years-start_speaker,
#years-end_speaker,
#years-start_guest,
#years-end_guest{
  margin: 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cost-content {
    display: flex;
    height: 110px;
}

.event-pay {
  margin-right: 20px;
}

.prise-value {
    padding-top: 40px;
    font-weight: bold;
}

.price-open {
    margin-left: 50px;
}

.age-guest-open,
.age-speaker-open{
  margin: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.load_poster {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  cursor:pointer;
  background-color: #dadada;
  color: #999999;
}

.fa.fa-image {
  font-size: 6em;
  padding-bottom: 5px;
}

.add_poster {
  display: block;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  font-family: "Muller ExtraBold";
}

.load_poster:hover,
.load_poster:active{
  background-color: #ffd539;
  color: #ffffff;
}

.invited-switch-open .row {
  margin: 30px 0 0 20px;
}

.invite_guest{
  text-align: center;
}

.invite_guest a{
  color: black;
  text-align: center;
}

.invite_guest-photo {
  width: 90%;
}

.invite_guest-name{
  font-size: 0.8em;
  margin-bottom: 0;
}

.invite_guest .fa.fa-plus {
  width: 65px;
  height: 65px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

#table_about .input_field {
  background-color: transparent;
}

.input_field::-webkit-input-placeholder {
  color: #bebed2;
}

.radio-toolbar-5 label{
  margin: 10px 0px 10px 30px;
}

.add_guest {
  width: 200px;
  font-size: 0.8em;
  z-index: 1;
}

.add_guest .dropdown-item {
  margin: 0;
}

.pointer {
    cursor: pointer;
}

.invite {
  padding: 10px 0;
}

#time-table {
  margin: 10px -15px;
}

@media only screen and (max-device-width: 769px) {
  .table_content {
    margin-top: 100px;
    padding-left: 50px;
  }

  .menu_content {
    border: none;
  }

  .invite_guest .fa.fa-plus {
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
  }

  #switch1 + label{
    width: 150px;
  }
}

@media only screen and (max-device-width: 426px) {
  .table_content {
    margin-top: 50px;
    padding-left: 10px;
  }

  #switch1 + label{
    width: 170px;
  }
}


#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
table {
    font-size: 12px;
}

.google-map {

}

#map {
    width: 440px;
}
#listing {
    position: absolute;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}
#findhotels {
    position: absolute;
    text-align: right;
    width: 100px;
    font-size: 14px;
    padding: 4px;
    z-index: 5;
    background-color: #fff;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}
.hotelIcon {
    width: 24px;
    height: 24px;
}
#resultsTable {
    border-collapse: collapse;
    width: 240px;
}
#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}
.iw_table_row {
    height: 18px;
}
.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}
.iw_table_icon {
    text-align: right;
}

.multi-select-container {
    display: inline-block;
    position: relative;
    width: 100%;

}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    padding: 0.4em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.multi-select-menu input {
    margin-right: 0.3em;
    vertical-align: 0.1em;
}

.multi-select-button {
    display: inline-block;
    font-size: 0.875em;
    padding: 0.2em 0.6em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background: none;
    border-bottom: 2px solid #bebed2;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.multi-select-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;
    margin-left: 0.4em;
    vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
    display: block;
    z-index: 10;
    display: flex;
    width: 100%;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-menuitems {
    display: flex;
    flex-direction: column;
}

.multi-select-menuitem {
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
}

.speaker_filtered {
  border: 1px solid rgba(75, 75, 82, 0.5);
  border-radius: 5px;
}

.speakers_checked {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.speaker_checked{
  width: 40%;
}

.speaker_checked-photo {
  width: 40px;
  height: 40px;
  margin: auto 10px;
}

.speaker_checked-name {
  margin: 0 10px;
  line-height: 30px;
}

.speaker_available.row {
  margin: 10px 20px;
  justify-content: space-between;
}

.speaker_available-title {
  font-family: "Muller Bold";
}

.job-speaker-open .button-purple.fill {
  background-color: transparent;
}

.job-speaker-open .button-purple{
  border-color: #c0c0c0;
}

.job-speaker-open .button-purple:hover,
.job-speaker-open .button-purple:active {
  border-color: #ffd539;
}

.job-speaker-open .fill {
  color: #000000!important;
}

.job-speaker-open .multi-button::after {
  color: #c0c0c0;
}

.job-speaker-open .button-purple .multi-menu li.selected,
.job-speaker-open .button-purple .multi-menu li.selected:hover,
.job-speaker-open .button-purple .multi-menu li.controls {
  background-color: #ffd539;
}