@font-face {
  font-family: "Muller Bold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Light";
  src: url("../fonts/MullerLight.eot");
  src: url("../fonts/MullerLight.woff") format("woff"),
  url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller UltraLight";
  src: url("../fonts/MullerUltraLight.eot");
  src: url("../fonts/MullerUltraLight.woff") format("woff"),
  url("../fonts/MullerUltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller Regular";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff") format("woff"),
  url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller ExtraBold";
  src: url("../fonts/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold.woff") format("woff"),
  url("../fonts/MullerExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// general


.input_field,
.select_field{
  width:100%;
  padding: 0.5em 2.5em 0 1em;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  transition:all .3s;
  border-bottom:1px solid #C0C0C0;
  &:focus {
    border-bottom:1px solid #ffd800;
  }
  &[type='number'],
  &[type="number"]:hover,
  &[type="number"]:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }
}

input[type="checkbox"] {
  display: none;
}

.accept_terms,
.speakers {
  & + label:before {
    min-width: 20px;
    height: 20px;
    cursor: pointer;
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid grey;
    font-size: 20px;
    line-height: 22px;
    margin: auto 10px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
  }
  &:checked + label:before {
    color: #ffd539;
  }
}

.input-switch {
  display: none;
  & + label {
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 40px;
    width: 110px;
    border-radius: 80px;
    background-color: #dadada;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
    -webkit-transition: background-color 0.5s;
    cursor: pointer;
    span.grip {
      position: absolute;
      top: 2px;
      left: 3px;
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #ffffff;
      border-radius: 50px;
      -webkit-transition: left 0.5s;
    }
    span.switch-label {
      position: absolute;
      display: inline-block;
      top: 8px;
      left: 45px;
      width: 56px;
      font-size: 21px;
      overflow: hidden;
      text-align: center;
      -webkit-transition: opacity 0.5s;
      &.on {
        left: 2px;
        opacity: 0;
        font-size: 21px;
      }
    }
  }
  &:checked + label {
    background-color: #ffd539;
    color: #ffffff;
    span.grip {
      left: 71px;
    }
    span.switch-label {
      opacity: 0;
      &.on {
        opacity: 1;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input_field::-webkit-input-placeholder {
  color: #bebed2;
}

.butt {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid transparent;
  font-size: 1.1rem;
  border-radius: 300px;
  text-transform: uppercase;
  outline: none!important;
  cursor: pointer;
  font-family: "Muller Bold";
  color: #000;
  &:active {
    border: 2px solid #c9a700;
  }
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Muller Regular";
}

.btn-rate {
  background-color: #ffffff;
  border-color: #ffffff;
  height: 50px;
  line-height: 55px;
  padding: 0 2em;
  &:hover {
    background-color: #ffd539;
  }
}

.sett-btn {
  padding: 0.3em 4em;
  background-color: #ffd539;
}

//navigation

#mainNav {
  padding: 0;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #ffffff;
  font-family: "Muller Regular";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  .contactsItems {
    display: flex;
    font-size: 0.85rem;
    width: 60%;
    justify-content: flex-end;
    margin-top: 10px;
    .contactsItem {
      margin: 0 5px;
      color: #000000;
      text-decoration: none;
      text-align: right;
    }
  }
  .container-navbar{
    min-height: 120px;
    .contactsNavbar {
      display: flex;
      justify-content: center;
    }
  }
  .dropdown-menu{
    right: auto;
    left: auto;
    .fa {
      color: rgb(95, 112, 135);
      margin-right: 10px;
    }
    &.show {
      width: 12em;
    }
  }
  .dropdown-toggle {
    img {
      width: 60px;
      height: 60px;
    }
    &::after {
      display: none;
    }
  }
  .user-name {
    font-size: 0.7em;
    font-family: "Muller Bold";
    margin: 0;
  }
  .navbar-nav > li.nav-item > a.nav-link{
    color: #000000;
    padding: 0.5rem 1rem;
    &.active {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        left: 46%;
        bottom: 0;
        width: 57px;
        height: 6px;
        background-color: #ffd800;
      }
    }
  }
  &.navbar-light .navbar-toggler {
    background-color: #ffffff;
    border: none;
    outline: none;
  }
  #nav-icon1{
    padding: 0;
    margin: 0;
    width: 30px;
    height: 22px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    & span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #000000;
      border-radius: 5px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        top: 9px;
      }
      &:nth-child(3){
        top: 18px;
      }
    }
    &.open span:nth-child(1){
      top: 9px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    &.open span:nth-child(2){
      opacity: 0;
      left: -60px;
    }
    &.open span:nth-child(3){
      top: 9px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  .navbar-logo {
    justify-content: flex-end;
    display: flex;
  }
  .fa-search {
    font-size: 1.2em;
    margin-right: 10px;
  }
  #navbarResponsive .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
  #login-form {
    border-radius: 5px;
    border: none;
    background: #fff;
    position: fixed;
    top: 35%!important;
    left: 50%;
    margin-top: -200px;
    margin-left: -260px;
    display: none;
    opacity: 0;
    padding: 20px 0px 0 0;
    z-index: 1000;
    max-height: 65%;
    overflow-y: auto;
    #modal_close {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      display: block;
    }
  }
  #overlay-login {
    z-index: 999;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
  }
  #login-btn {
    font-weight: 400;
    padding: 0.5em 2em;
    border-radius: 300px;
    background: none;
    border: 2px solid black;
    outline: none;
  }
  .hide-content {
    display: none!important;
  }
  .create-meeting-butt {
    background-color: #ffd800;
    padding: 0.4em 2em;
  }
  .form-title{
    color: #000;
  }
}

#search_event {
  background: url("../img/parallax-6-dark.png") repeat center center,
  url("../img/main-dark.png") no-repeat center 0;
  background-attachment: fixed, scroll;
  background-size: contain, cover;
  overflow-x: hidden;
  .task-title {
    margin: 80px auto;
  }
  .stripe {
    margin-top: 20px;
  }
  .form-group {
    color: #ffffff;
    justify-content: center;
    label {
      margin: auto 0;
    }
    #meet.form-control,
    #subject.form-control {
      background: transparent;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      border: none;
      border-bottom: 1px solid #ffffff;
      outline: none;
      option {
        color: #ffffff;
        background: #2c2c2c;
      }
    }
  }
  .btn-search {
    background-color: #ffd800;
    padding: 0.4em 2em;
  }
  .reset{
    margin: 0!important;
    background-color: #ffd800;
    padding: .375rem .75rem;
    img {
      width: 14px;
    }
  }
}

#all_meetups{
  background: #ffffff url("../img/parallax-6.png") repeat center center;
  background-attachment: fixed;
  background-size: contain;
}

.task-box {
  position: relative;
  margin: 0 auto;
  color: rgb(95, 112, 135);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 305px;
  &:focus {
    outline: none;
  }
  .img {
    width: 100%;
    height: 210px;
  }
  & > a{
    background: rgba(95, 112, 135, 0.2);
  }
  .progress-star-item {
    vertical-align: super;
  }
  .task-box-inner {
    background-color: #fff;
    height: 100%;
    box-shadow: 0 21px 46px 0 rgba(0, 0, 0, 0.07);
    .task-box-inner_desc {
      padding: 25px;
      height: 80%;
      .svg-calendar,
      .svg-time,
      .svg-price {
        margin-right: 10px;
      }

    }
    & > p {
      margin-bottom: 0;
    }
    & > a[role="button"] {
      display: inline-block;
      font-size: 13px;
      color: #0a0a0a;
      font-family: "Muller Bold";
      text-transform: uppercase;
      border-radius: 50px;
      padding-left: 25px;
      position: absolute;
      right: -20px;
      bottom: 8px;
    }
    & > a[aria-expanded="true"] {
      display: none;
    }
    & > a[role="button"]:hover {
      background-color: #ffd800;
    }
    & > a[role="button"]:hover .fa {
      background-color: #fff;
    }
    .card.card-body {
      border: none;
      padding: 0;
      p {
        font-family: "Muller Regular";
        font-size: 0.8em;
        color: #000000;
      }
      .fa:not(.fa-times) {
        color: #e0e0e0;
      }
      .fa.fa-users {
        margin-right: 10px;
      }
      .fa.fa-map-marker,
      .fa.fa-microphone,
      .fa.fa-user {
        margin-left: 2px;
        margin-right: 17px;
      }
      .fa.fa-commenting{
        margin-left: 2px;
        margin-right: 13px;
      }
        a[role="button"] {
          position: absolute;
          right: -58px;
          bottom: 0px;
        }
    }
  }
  .btn-free {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    font-size: 0.8em;
    height: 30px;
    line-height: 32px;
    padding: 0em 0.5em;
    font-family: "Muller Bold";
    color: #000;
    margin: 0px 25px;
    text-align: center;
    border-radius: 300px;
    cursor: default;
  }
  .fa.fa-heart {
    font-size: 2em;
    margin: 0px 25px;
    color: #e0e0e0;
    cursor: pointer;
    &.like {
      background: #ffffff;
      color: #fb0512;
    }
    &.unlike {
      background: #ffffff;
      color: #e0e0e0;
    }
  }
}

#recent_meeting {
  background: #f5f5f5 url("../img/parallax-6.png") repeat center center;
  background-attachment: fixed;
  background-size: contain;
  h2 {
    color: #000000;
  }
  .stripe {
    margin-top: 20px;
  }
}

#paginations {
  background: #fff;
  .page-link {
    padding: 10px 15px;
    border-radius: 50%;
    margin: 0 10px;
    border: none;
    color: #000000;
    font-size: 0.9em;
    outline: none;
    &:hover,
    &:active,
    &:focus{
      color: #000000;
      background-color: #ffd539;
      border: none;
      outline: none;
    }
  }
}

.create-meetup-section {
  padding: 80px 0 50px;
  background-color: #ffd539;
}

.sign_up_form {
  width: 500px;
  margin: 10px 0 0 0;
  position: relative;
  background-color: #ffffff;
  padding: 10px 70px 20px;
  border-radius: 3px;
  font-family: "Muller Regular";
  .action-btn{
    background: #ffd800;
    border: 0 none;
    padding: 0.8em 4em;
    margin: 10px 0;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px white, 0 0 0 3px #ffd800;
      outline: none;
    }
    &:disabled{
      background: #C0C0C0;
    }
  }
  .reset-btn {
    padding: 0.8em 2em;
    margin-top: 50px;
  }
  .login-btn {
    padding: 0.5em 5em;
    margin-top: 50px;
  }
  .login-form-item{
    padding: 0;
    &:before {
      content:attr(type);
      display:block;
      margin:20px 0 0;
      font-size:14px;
      color:#C0C0C0;
    }
  }
  .form-title {
    text-align: center;
    font-size: 2em;
    font-family: "Muller Bold";
    padding-bottom: 10px;
    margin: 0;
  }
  .title-forgot {
    padding-bottom: 5px;
    margin: 0 50px;
  }
  .form-subtitle {
    color: #C0C0C0;
    font-size: .8em;
    margin: 0 50px;
    &:before {
      margin: 0;
    }
  }
  .form-item{
    padding: 0;
  }
  .input_field {
    padding: 5px;
  }
  .validation-input {
    border-bottom:1px solid red!important;
  }
  .pass{
    margin: 0;
    font-size: 13px;
  }
  .not_match {
    color: red;
  }
  .match {
    color: green;
  }
  .accept_terms + label:before {
    margin: -5px 15px 0 0;
  }
  .accept_label {
    padding: 0 15px;
    margin: 0;
    font-family: "Muller Bold";
  }
  .terms-link {
    text-decoration: underline;
    color: black;
    line-height: 40px;
    font-family: "Muller Bold"
  }
  .share {
    margin: 0 auto;
    .fa-facebook,
    .fa-linkedin{
      line-height: 40px;
      color: white;
    }
    &-btn {
      text-align: center;
      width: 40px;
      height: 40px;
      margin: 0 0 0 10px;
      font-size: 1.1em;
      border-radius: 50%;
    }
    &-facebook {
      background: #3b5998;
    }
    &-in {
      background: #0077b5;
    }
  }
  .fa-long-arrow-left {
    margin-right: 10px;
    font-size: 1em;
    color: #ffd539;
  }
  #open-log-in,
  #open-sing-up,
  #forgot-pass,
  .back-sign_in {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    font-family:"Muller Bold";
    outline: none;
  }
  #open-log-in,
  #open-sing-up,
  #forgot-pass:hover {
    color: #0077b5;
  }
  .fallbackDatePicker {
    display: flex;
  }

  .select-wrapper {
    margin-right: 20px;
  }
}

#msform {
  width: 500px;
  margin: 10px 0 0 0;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  padding-top: 20px;
  border-radius: 3px;
  fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    margin-top: -3px;
    position: relative;
    &:not(:first-of-type) {
      display: none;
    }
  }
  input,
  textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
  }
  .action-button {
    width: 100px;
    background: #ffd800;
    font-size: 12px;
    border: 0 none;
    border-radius: 300px;
    padding: 10px 5px;
    margin: 10px 5px;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #ffd800;
      outline: none;
    }
  }
  .fs-title,
  .form-title{
    font-size: 20px;
    color: #000000;
    margin: 20px auto;
    font-family: "Muller Bold";
  }
}

#progressbar {
  padding: 10px;
  overflow: hidden;
  counter-reset: step;
  color: #000000;
  li {
    list-style-type: none;
    color: #000000;
    font-size: 11px;
    width: 25%;
    float: left;
    position: relative;
    &::before {
      content: counter(step);
      counter-increment: step;
      width: 35px;
      line-height: 30px;
      display: block;
      font-size: 12px;
      color: #333;
      background: #ffffff;
      border: 2px solid #ccc;
      border-radius: 50%;
      margin: 0 auto 5px auto;
    }
    &::after {
      content: '';
      width: 74%;
      height: 2px;
      background: #ccc;
      position: absolute;
      left: -37%;
      top: 15px;
    }
    &:first-child::after {
      content: none;
    }
    &.active::before {
      border-color: #ffd800;
      color: #000000;
    }
    &.active::after {
      background-color: #ffd800;
    }
  }
}

.reviewStars-input {
  width: 80%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  float: left;
  margin: 10px;
  input:checked~label,
  label,
  label:hover,
  label:hover~label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
    outline: none;
  }
  input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 43px;
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 0;
    &:checked ~ label {
      background-position: 0 -40px;
      height: 40px;
      width: 43px;
    }
  }
  label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    &:hover,
    &:hover~label {
      background-position: 0 -40px;
      height: 40px;
      width: 43px;
    }
  }
  .star-0 {
    left: 0;
  }
  .star-1 {
    left: 53px;
  }
  .star-2 {
    left: 106px;
  }
  .star-3 {
    left: 159px;
  }
  .star-4 {
    left: 212px;
  }
}

//#modal_form {
//  border-radius: 5px;
//  border: none;
//  background: #fff;
//  position: fixed;
//  top: 45%;
//  left: 50%;
//  margin-top: -200px;
//  margin-left: -260px;
//  display: none;
//  opacity: 0;
//  z-index: 5;
//  padding: 20px 10px;
//  #modal_close {
//    width: 21px;
//    height: 21px;
//    position: absolute;
//    top: 10px;
//    right: 10px;
//    cursor: pointer;
//    display: block;
//  }
//}
//#overlay {
//  z-index:3;
//  position:fixed;
//  background-color:#000;
//  opacity:0.8;
//  -moz-opacity:0.8;
//  filter:alpha(opacity=80);
//  width:100%;
//  height:100%;
//  top:0;
//  left:0;
//  cursor:pointer;
//  display:none;
//}

#speaker-profile {
  background: url("../img/parallax-6-dark.png") repeat center center,
  url("../img/main-dark.png") no-repeat center 0;
  background-attachment: fixed, scroll;
  background-size: contain, cover;
  overflow-x: hidden;
  .stripe {
    display: block;
    margin: 42px auto;
  }
  ::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
  }
  img::selection {
    color: #fff;
    background: transparent;
  }
  & > a[aria-expanded="true"] {
    display: none;
  }
  a[role="button"]:hover {
    background-color: #ffd800;
    color: #000;
  }
  a[role="button"]:hover .fa {
    background-color: #fff;
    color: #000;
  }
  .more-button-icon {
    margin-left: 15px;
  }
  .container {
    padding-top: 10rem;
    padding-bottom: 0;
  }
  .dots-button {
    width: 93%;
    height: 93%;
    background-color: #f1f1f1;
    color: #848484;
  }
  .speaker {
    color: #ffffff;
    .progress {
      height: 20px;
    }
    &-cost {
      margin: 20px 0px;
    }
    &-interest{
      margin: 20px 10px;
      .speaker-category {
        background-color: transparent;
        border: 1px solid #fff;
        font-size: 16px;
        height: 40px;
        line-height: 20px;
        padding: 0.6em 1.5em;
        font-family: "Muller Regular";
        font-weight: normal;
        color: #fff;
        border-radius: 300px;
        &:hover {
          color: #fff;
        }
      }
    }
    &-lang{
      margin: 20px 10px;
    }
    &-contact {
      a:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
    .meetups-number,
    .speaktime-number {
      margin: 0;
      font-size: 3em;
      font-weight: bold;
    }
    &-contact a {
      color: #ffffff;
    }
    .about-event {
      width: 100%;
      .about-meetups {
        display: inline-block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        min-height: 5.8em;
        line-height: 1.5em;
        font-family: "Muller Regular";
      }
      .fa.fa-plus,
      .fa.fa-minus {
        border: 3px solid #ffd800;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 39px;
        height: 39px;
        line-height: 35px;
        text-align: center;
      }
    }
    .fa-map-marker,
    .fa-envelope-o,
    .fa-mobile,
    .fa-globe{
      font-family: "FontAwesome";
      margin-right: 14px;
      font-size: 1.5em;
      color: #ffd800;
    }
    .fa-mobile {
      font-size: 2em;
      margin-left: 4px;
      margin-right: 20px;
    }
    .fa-globe {
      margin-right: 20px;
    }
    .fa-facebook-f,
    .fa-linkedin,
    .fa-instagram {
      margin-top: 10px;
      margin-right: 10px;
      color: #4e555b;
      font-size: 1.2em;
    }
  }

}

#comment {
  background: #2a2a2a url(../img/parallax-6-dark.png) repeat center center;
  background-attachment: fixed;
  background-size: contain;
  color: #fff;
  font-family: "Muller Light";
  padding: 40px 0 40px 0;
  z-index: 1;
  &.comment_yellow {
    background: #ffd800 url(../img/parallax-6.png) repeat center center;
    color: #000;
    .owl-item-inner {
      padding: 20px;
      box-shadow: 0 5px 49px 0 rgba(0, 0, 0, 0.04);
      min-height: 180px;
      background-color: #ffffff;
    }
    .owl-prev i,
    .owl-next i {
      font-size: 60px;
      color: #ffffff;
    }
  }
  .stripe {
    margin-top: 20px;
  }
  h6 {
    font-family: "Muller Bold";
    font-size: 15px;
    margin: auto auto auto 0;
  }
  hr {
    max-width: 180px;
    border-width: 2px;
    border-color: #ffd800;
    margin: -10px auto 20px 10px;
  }
  .comment-wrapper {
    margin: auto;
    padding: 15px;
    width: 90%;
  }
  .speaker-name-link_comment {
    text-decoration: none;
    color: #000000;
    &:hover,
    &:active,
    &:visited {
      text-decoration: underline;
      color: #000000;
    }
  }
}

.owl-carousel{
  #comment .owl-item{
    padding: 0 36px;
    overflow: hidden;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .owl-item {
    padding: 0;
    overflow: hidden;
    .comment-text{
      display: inline-block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      min-height: 6em;
      line-height: 1.5em;
      font-family: "Muller Regular";
      font-size: 0.7em;
    }
    .comment-time {
      margin: 0;
      font-size: 0.7em;
    }
  }
  .owl-prev,
  .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    border: 0 solid black;
  }
  .owl-prev {
    top: 30%;
    left: -35px;
  }
  .owl-next {
    top: 30%;
    right: -30px;
  }
  .owl-dots {
    margin-top: 30px;
    text-align: center;
    outline: none;
    .owl-dot {
      display: inline-block;
      span {
        background: #dae5ea;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: block;
        height: 10px;
        margin: 0 15px;
        width: 10px;
        background: #ffd800;
      }
    }
  }
}

#photo-gallery {
  margin-bottom: -8px;
  padding: 0;
  .photo {
    display: block;
    transform: translateZ(0);
    &:hover {
      display: block;
      transform: translateZ(0) scale(1.1);
      transition: 0.5s all;
      z-index: 100;
    }
    &:last-child {
      transform-origin: right center;
    }
  }
  .image {
    cursor: zoom-in;
  }
  .popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
  }

  .popup_bg {
    background: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
  }

  .popup_img {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: auto;
    pointer-events: none;
  }
}

#tab-title {
  padding-top: 150px;
}

#panel1 {
  .input_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .load_file{
    border-radius: 50%;
    cursor:pointer;
    width: 300px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .input_field,
  .select_field{
    width:100%;
    padding: 0.5em 2.5em 0 1em;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:1px solid #C0C0C0;
    &:focus {
      border-bottom:1px solid #ffd800;
    }
    &[type='number'],
    &[type="number"]:hover,
    &[type="number"]:focus{
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0;
    }
  }
  .cost-from_to-set {
    margin: auto 15px;
    &.input_field{
      width: 20%;
    }
  }
  .speaker-lang {
    margin-left:10px;
  }
  .select-wrapper {
    margin: 0 15px;
  }
  .select_field,
  .time{
    padding: 0.5em 2.5em 0.5em 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
            linear-gradient(45deg, transparent 50%, #C0C0C0 50%),
            linear-gradient(135deg, #C0C0C0 50%, transparent 50%);
    background-position:
            calc(100% - 18px) calc(1em + 2px),
            calc(100% - 10px) calc(1em + 2px);
    background-size:
            8px 8px,
            8px 8px;
    background-repeat: no-repeat;
  }
  option:first-child {
    color: #C0C0C0;
  }
  p:before {
    content:attr(type);
    display:block;
    margin:8px 0 0;
    font-size:14px;
    color:#C0C0C0;
  }
  .fallbackDatePicker{
    display: flex;
    &.row{
      margin-left: 0;
    }
  }
  textarea {
    outline: none;
    -moz-appearance: none;
    border: 1px solid #C0C0C0;
    resize: none;
    width: 90%;
  }
  .well {
    margin: 0 auto;
    legend{
      margin-top: 30px;
      font-family:"Muller ExtraBold";
    }
  }
  .right-btn {
    display: flex;
    justify-content: flex-end;
  }
  .sett-btn {
    width: 275px;
    background-color: #ffd539;
    padding: 0.5em 1.5em;
  }
}

// new table page
.menu_content{
  border-right: 1px solid #dadada;
}

.table_content{
  margin-top: 100px;
  padding-left: 15px;
  h1 {
    padding-left:15px;
  }
  p:before {
    content:attr(type);
    display:block;
    margin:8px 0 0;
    font-size:14px;
    color:#C0C0C0;
  }
  input[type="file"] {
    display: none;
  }
  legend {
    font-size: 2em;
  }
  .table-item-subtitle,
  .table-item-title{
    font-family: "Muller Bold";
    padding: 20px 0 10px;
    font-size: 2em;
  }
  .table-item-title {
    font-size: 3em;
    padding-left: 15px;
  }
  .meeting-desc {
    outline: none;
    width: 100%;
    padding: 10px;
    &:focus {
      border: 1px solid #ffd800;
    }
  }
  .load_poster {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    cursor:pointer;
    background-color: #dadada;
    color: #999999;
    padding: 0;
    &:hover,
    &:active {
      background-color: #ffd539;
      color: #ffffff;
      padding: 0;
    }
    &-img {
      position: absolute;
      width: 100%;
      height: 250px;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .add_poster {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      margin-top: 70px;
      font-family: "Muller ExtraBold";
      .fa.fa-image {
        font-size: 6em;
        padding-bottom: 5px;
      }
    }
  }
  .dashboardcode-bsmultiselect {
    ul.form-control {
      border: none;
      border-bottom: 1px solid #C0C0C0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: transparent;
      &:focus {
        box-shadow: none;
      }
      .badge {
        display: flex;
        justify-content: space-around;
        text-align: center;
        border: 1px solid #ffd800;
        border-radius: 300px;
        background-color: #ffd800;
        margin: 2px!important;
        span {
          padding: 0 5px;
          &:last-child {
            opacity: 0.6;
          }
        }
      }
    }
    .dropdown-menu{
      width: 60%;
      height: 200px;
      overflow: auto;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #ffd800 !important;
    }
  }
  .industry-speaker-open .dashboardcode-bsmultiselect ul.form-control .badge,
  .expertise-speaker-open .dashboardcode-bsmultiselect ul.form-control .badge,
  .interest-guest-open .dashboardcode-bsmultiselect ul.form-control .badge,
  .expertise-guest-open .dashboardcode-bsmultiselect ul.form-control .badge{
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 2px 5px;
    font-size: 1.2em;
  }
  .reviewStars_new_table{
    width: 60%;
    text-align: left;
  }
  .checkbox-label {
    display: flex;
    align-items: center;
    p {
      margin-top: 1rem;
    }
  }
  .disable-radio {
    color: grey;
    cursor: default!important;
  }
  .label-speaker{
    margin: auto 0;
    cursor: pointer;
  }
  .cost-speaker-open {
    display: flex;
  }
  .ui-timepicker-am,
  .ui-timepicker-pm{
    list-style-type: none;
    width: 100%;
  }
  .ui-timepicker-list {
    background-color: white;
    padding: 0 45px;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    cursor: pointer;
  }
  .speakers {
    display: none;
    & + label:before {

    }
  }
  .radio-speaker {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    .radio-content {
      margin: 10px 0px;
    }
  }
  .speaker_setting {
    margin: 50px 0;
    &_fixed-height {
      min-height: 50px;
    }
    .cost-from_to{
      margin: auto 20px auto 0;
      text-align: center;
    }
    p.cost-from_to {
      font-size: 1.3em;
    }
    .slider.slider-horizontal {
      width: 60%;
      .slider-tick,
      .slider-handle {
        background-color: #fff;
      }
      .slider-track {
        height: 5px;
        .slider-selection{
          background-image: linear-gradient(to bottom,#ffd539 0,#ffd539 100%);
        }
      }
      .slider-handle {
        width: 15px;
        height: 15px;
        background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
        border: 1px solid rgba(0,0,0,0.1);
      }
    }
    .age-guest-open,
    .age-speaker-open{
      margin: 20px;
      width: 100%;
    }
    #years-start_speaker,
    #years-end_speaker,
    #years-start_guest,
    #years-end_guest{
      margin: 0 20px;
    }
  }
  .invite {
    padding: 10px 0;
    &.row {
      padding: 30px;
    }
    .guest-title {
      margin: auto 0;
    }
  }
  .cost-content {
    display: flex;
    height: 110px;
    .event-pay {
      margin-right: 20px;
    }
    .price-open {
      margin-left: 50px;
      .prise-value {
        padding-top: 40px;
        font-weight: bold;
      }
    }
  }
  .bike-open {
    display: none;
    width: 70%;
    margin: 0 10px;
    .speaker_setting .row{
      margin: 10px 0 10px 15px;
    }
    .choose_deliver {
      margin: 30px 0;
    }
  }
  .label-speaker_checked{
    margin: 10px 0 10px 15px;
  }
  #time-table {
    margin: 10px -15px;
  }
  #guestListFilter .label-speaker_checked {
    flex-wrap: nowrap;
    cursor: pointer;
  }
  .expertise_category{
    &,
    &:hover,
    &:visited {
      display: inline-block;
      color: #000;
      border-color: #000;
      margin: 10px;
      line-height: 100%;
    }
  }
  .boat-open,
  .city-open{
    display: none;
  }
  .radio-toolbar-1,
  .radio-toolbar-2,
  .check-toolbar-1,
  .check-toolbar-3,
  .check-toolbar-5 {
    input {
      display: none;
    }
    label {
      display: inline-block;
      border: 1px solid #dadada;
      padding: 0.5em 2.5em;
      border-radius: 300px;
      background-color: white;
      color: #dadada;
      font-size: 0.8em;
      margin-right: 20px;
    }
  }
  .radio-toolbar-2.row {
    flex-wrap: nowrap;
    label {
      padding: 0.5em 1.5em;
    }
  }
  .check-toolbar-5 label{
    margin: 10px 0px 10px 30px;
  }
  .check-toolbar-5 input[type="checkbox"]:checked + label,
  .check-toolbar-3 input[type="checkbox"]:checked + label,
  .radio-toolbar-2 input[type="radio"]:checked + label,
  .radio-toolbar-1 input[type="radio"]:checked + label,
  .check-toolbar-1 input[type="checkbox"]:checked + label{
    background-color: #ffd539;
    border: 1px solid #ffd539;
    color: #000000;
  }
  .pointer {
    cursor: pointer;
  }
  .list-speaker .butt {
    margin: 25px auto;
  }
  .guest-number-rate{
    margin-right: 10px;
    .guest-num {
      margin-left: 20px;
      &:before {
        margin: 0!important;
      }
      .guest-number {
        display: flex!important;
        border-color: #ffd539;
        &:disabled {
          border-color: #dadada;
        }
      }
    }
    &.size-more {
      display: flex!important;
      align-items: center;
      .more {
        height: 35px!important;
      }
    }
  }
  .submit {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
}

//---------------------------------------

#wrapper {
  transition: all 0.4s ease 0s;
  #sidebar-wrapper {
    position: fixed;
    top: 220px;
    width: 200px;
    height:600px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    background-color:#f7f8f9;
    &.sidebar-new_table {
      top: 150px;
    }
    .sidebar-nav li {
      display: block;
      line-height: 20px;
      width: 100%;
      padding: 15px 0 15px 20px;
      &:hover,
      &:checked,
      &:active {
        color: #000000;
        font-family: "Muller Bold";
        background-color: #ffd800;
        text-decoration: none;
      }
      &.side a{
        color: #999999;
        display: block;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &.active {
    padding-left: 0;
    #sidebar-wrapper {
      left: 0;
    }
  }
}



#contact{
  background: #2a2a2a url("../img/parallax-footer.png") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  color: #fff;
  font-family: "Muller Light";
  padding: 18px 0 25px 0;
  a {
    color: #909090;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid #575757;
    background-color: transparent;
    width: 230px;
    max-width: 100%;
    color: #fff;
    .footer-email-input-wrapper input {
      display: block;
      margin: 5px auto;
    }
    &::placeholder {
      color: #909090;
    }
  }
  p > input {
    padding: 9px 0 9px 4px;
    outline: none;
  }
  .fa {
    color: #909090;
    margin-right: 18px;
  }
  .row {
    align-items: center;
  }
  .footer-section-title {
    font-family: "Muller Bold";
    margin-top: 36px;
    margin-bottom: 15px;
  }
  .footer-title-divider {
    margin-top: 0;
    margin-bottom: 20px;
    width: 27px;
  }
  .footer-logo {
    margin-top: 19px;
    margin-bottom: 31px;
  }
  .rights-section {
    padding: 18px 0 0 0;
    background-color: #202020;
    text-align: center;
    color: #909090;
  }
  .footer-text {
    color: #909090;
  }
  .footer-quick-link {
    margin-bottom: 5px;
  }
}

@media only screen and (max-device-width: 1200px) {
  #speaker-profile {
    background-attachment: scroll, scroll;
  }
  #guests,
  #comment,
  #place,
  #people {
    background-attachment: scroll;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
    max-width: 1000px;
  }
  #mainNav {
    .container {
      .contactsNavbar {
        width: 370px;
        height: 100px;
      }
    }
  }
  #contact {
    padding: 50px 0 70px 0;
  }
}

@media (min-width: 992px) {
  #mainNav{
    .container-navbar,
    .contactsNavbar {
      justify-content: space-around;
    }
    .navbar-nav > li.nav-item > a.nav-link.active:after {
      left: 16px;
    }
  }
  #search_event{
    .search-button-wrapper {
      margin: 0;
    }
  }
  #comment {
    .owl-item-inner {
      width: 100%;
      margin: auto;
    }
  }
  #contact {
    .footer-quick-links-wrapper {
      padding-left: 70px;
    }
    .footer-email-input-wrapper {
      padding-left: 15px;
    }
  }
  #tab-title {
    padding-top: 170px;
  }

  #sidebar-wrapper {
    top: 220px;
  }
}

@media (min-width: 768px) {
  section {
    padding: 40px 0 20px;
  }
  #mainNav {
    border-color: transparent;
    background-color: #ffffff;
    padding-right: 0 !important;
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
      font-size: 15px;
      &.active:after {
        right: -10px;
      }
      &:not(.active):hover{
        text-decoration: underline;
      }
    }
    &.navbar-light .navbar-nav .nav-link{
      &,
      &:focus,
      &:hover {
        color: #000;
      }
    }
    #navbarResponsive .navbar-collapse {
      justify-content: flex-end;
    }
  }

  .sidebar-nav li {
    padding-left: 15px;
    width: 100%;
  }

  #search_event {
    margin-top: 0;
    padding-top: 10rem;
    p {
      color: #ffffff;
    }
  }
  #comment {
    .comment-wrapper {
      height: 260px;
    }
    .owl-item-inner {
      width: 100%;
      margin: auto;
    }
  }
  #speaker-profile {
    min-height: 450px;
    padding-top: 0;
    padding-bottom: 0;
    h2 {
      font-size: 35px;
    }
    .container {
      position: relative;
      padding-top: 12rem;
      padding-bottom: 83px;
      z-index: 999;
    }
  }
  #contact {
    .footer-quick-links-wrapper,
    .footer-email-input-wrapper {
      padding-left: 55px;
      input {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 431px) and (max-width: 767px) {
  #mainNav{
    .navbar-nav > li.nav-item > a.nav-link.active:after {
      left: 40%;
    }
    .navbar {
      padding: 5px;
      .row {
        justify-content: space-between;
      }
      &-logo img {
        width: 40%;
        height: auto;
      }
    }
    .navbar-collapse {
      margin: 0 auto;
    }
    .navbar-brand img {
      height: auto;
      &:first-child {
        width: 50px;
      }
      &:last-child {
        width: 80px;
      }
    }
  }
  #speaker-profile {
    padding-bottom: 50px;
    .speaker .speaker-interest .speaker-category{
      padding: 0.8em 1.5em;
    }
  }
  #comment {
    hr {
      margin-top: -40px;
      margin-bottom: 50px;
    }
  }
  #contact{
    input {
      width: 280px;
    }
    .footer-email-input-wrapper input {
      margin: 20px 0 1rem 0;
    }
    .footer-logo img {
      margin: 0 auto;
      &:first-child {
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  section {
    padding: 20px 0;
  }
  #mainNav {
    .navbar {
      padding: 0;
      &-logo img {
        width: 40%;
        height: auto;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link.active:after {
      left: 42%;
    }
  }
  #speaker-profile{
    .container {
      padding-top: 50px;
    }
    .fa-map-marker,
    .fa-envelope-o,
    .fa-mobile,
    .fa-globe{
      font-size: 1em;
    }
    .fa-mobile {
      font-size: 1.5em;
      margin-left: 2px;
      margin-right: 20px;
    }
    .speaker-contact p{
      font-size: 0.8em;
    }
  }
  #tab-title {
    padding-top: 70px;
    .nav-tabs > li > a.show:after {
      top: 20px;
      width: 50px;
      height: 5px;
    }
  }
  #comment {
    hr {
      margin-top: -40px;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 321px) {
  #comment {
    .speaker-name-link {
      font-size: 0.8em;
    }
  }
  #mainNav {
    .navbar-nav > li.nav-item > a.nav-link.active:after{
      left: 40%;
    }
  }
}

